*{
    box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

p {
	font-family:'Times New Roman', Times, serif;
	font-size: 18px;
}

.name p {
	font-size: 30px;
	font-style: bold;
	align-items: end;
	justify-content: end;
}

.container {
	width: 100%;
	display: grid;
	grid-gap: 5%;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;	
}

.name {
	grid-row: 1 / span 1;
	grid-column: 1 / span 2;
	margin-left: 45%;
}

.sidebar { 
	grid-row: 2/2;
	margin-left: 20%;
}

.content {
	grid-row: 2/2;
	margin-right: 20%;
}

.icons,
.icons a {
    color: black;
	padding: 1%;
	font-size: 20px;
}

.icons a:hover {
    cursor: pointer;
    color: #EF2779;
}

.icons img:hover {
	display: inline-block;
	transform: scale(2, 2);
}
